html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    display: flex;
}

.container .dikeymenu {
    width: 210px;
    height: 1080px;
    background-color: #fad9af;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#logo {
    width: 210px;
    height: 210px;
}

.menu {
    display: flex;
    margin: 20px;
    margin-top: 25px;
    padding-left: 10px;
    padding-top: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 10px;
}

.container .dikeymenu .span {
    color: hsl(0, 93%, 89%);
    margin: 2px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: #666492;
}

.row .yataymenu {
    display: flex;
    background-color: hsl(0, 14%, 41%);
    width: 1500px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row .yataymenu span {
    margin: 10px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fad9af;
    margin-left: -240px;
}

#page {
    display: flex;
}

#bannerright {
    margin: 10px;
    position: absolute;
    right: 50px;
}

.content .kutu #form {
    width: 300px;
    height: 175px;
    background-color: rgb(206, 138, 99);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    display: block;
    border: black;
    border-style: dashed;
}

.content .kutu {
    display: block;
    margin-left: 450px;
    margin-top: 60px;
}

.content {
    display: block;
}

.tablo {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -300px;
    margin-top: 50px;
}

th {
    padding: 5px;
}

td {
    padding: 5px;
}

#chartContainer {
    padding: 20px;
}